[flake8]
# Ignore line length, blank line at end of file, and line break before binary operator
# Added F401 (unused imports) and W291 (trailing whitespace) for all test files
ignore = E501,W391,W503,F401,W291

# Per-file ignores
per-file-ignores =
    # Ignore module level import not at top of file for test files
    tests/*/*.py: E402
    tests/*.py: E402

# Other style checks will still be enforced
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    *.egg-info
